<div fxLayout="column" fxLayoutAlign="space-evenly center" style="margin: 15px">
  <br />
  <h1>Iniciar Sesion</h1>
  <br />
  <div fxLayout="column" fxLayoutAlign="space-around start">
    <mat-form-field appearance="outline">
      <mat-label>Ingrese su correo</mat-label>
      <input matInput [(ngModel)]="user.email" placeholder="Correo" >
    </mat-form-field>

    <mat-form-field class="r" appearance="outline">
      <mat-label>password</mat-label>
      <input matInput [(ngModel)]="user.password" [type]="hide ? 'password' : 'text'" >
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <button class="boton" mat-raised-button (click)="login()">Entrar</button>
  <br />
  <br />
</div>
