<mat-card >
    <mat-card-header>
        <mat-card-title> {{prenda.nombre}} </mat-card-title>
    </mat-card-header>

    <!-- <img mat-card-image [src]="prenda"> -->
    <img mat-card-image [src]="prenda | imagen">

    <mat-card-content>
        <p>
            <strong>Precio</strong> {{ prenda.precio | currency:'COP':'symbol-narrow':'1.0-0'}}
            <br>
            <strong>Descripcion: </strong> {{ prenda.descripcion}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="warn" [routerLink]="['/admin/editar',prenda.id]">
            Editar Prenda
        </button>
    </mat-card-actions>
</mat-card>