<nav mat-tab-nav-bar >
    <a mat-tab-link [routerLink]="['home']" (click)="activeLink = 'Inicio'" [active]="activeLink == 'A'"> Inicio</a>
    <a mat-tab-link [routerLink]="['carrito']" (click)="activeLink = 'Carrito'" [active]="activeLink == 'B'">Carrito</a>
    <a mat-tab-link [routerLink]="['detalle']" (click)="activeLink = 'detalle'" [active]="activeLink == 'B'">detalle</a>
    <a mat-tab-link [routerLink]="['login']" (click)="activeLink = 'login'" [active]="activeLink == 'B'">login</a>
    <a mat-tab-link [routerLink]="['registro']" (click)="activeLink = 'Carrito'" [active]="activeLink == 'B'">registro</a>
    
    <!-- <a mat-tab-link [routerLink]="['producto']" (click)="activeLink = 'Producto'" [active]="activeLink == 'C'">Producto</a> -->
</nav> 
<router-outlet></router-outlet>

