<div class="flex-column col-md-12">

  <!--TEXTO-->
  <section class="w-50 mx-auto text-center pt-5">
    <h2 class="p-3 border-top border-3">
      <span class="text-danger fw-bold">Afuego</span>, expresa tu estilo
    </h2>
  </section>
  <br />
  <div fxLayout="column" fxLayoutAlign="start start">

    <mat-nav-list>
      <a (click)="logout()" mat-list-item>
        <mat-icon mat-list-icon>logout</mat-icon>
        <span>cerrar Sesion</span>
      </a>
      <a [routerLink]="['/admin/agregar']" mat-list-item>
        <mat-icon mat-list-icon>add</mat-icon>
        <span>agregar de Prenda</span>
      </a>
      <a [routerLink]="['/admin/pedidos']" mat-list-item>
        <mat-icon mat-list-icon>list_alt</mat-icon>
        <span>Pedidos</span>
      </a>
    </mat-nav-list>
  </div>
  <br>
  <!--SERVICIOS-->
  <section>
    <app-producto></app-producto>
  </section>
  <router-outlet></router-outlet>
</div>