/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
nav{
    padding: 5px;
    background-color:#185ADB;
}
footer{
    background:#0A1931;
    min-height: 200px;
}
.conteiner{
    min-height: calc(100vh - 200px );
}
footer p {
    
    color:white;
    text-align: center;
}
#iconos{
    font-size: 26px;
    padding: 0 8px;
    color: white;
    text-align: center;
}
footer a {
    margin: 10px;
}