<div class="row">
    <div class="col">
        <h2>Producto</h2>
        <hr>
        <br>
            <ul>
                <li>

                </li>
            </ul>
    </div>
    <div class="col">
        <h2>Precio</h2>
        <hr>
        <br>
        <ul>
            <li>

            </li>
        </ul>
    </div>
    <div class="col">
        <h2>Cantidad</h2>
        <hr>
        <br>
        <ul>
            <li>
                <button mat-raised-button> + </button>
                <span> 1 </span>
                <button mat-raised-button > - </button>
            </li>
        </ul>
    </div>
    <div class="col">
        <button mat-raised-button>Comprar</button>
    </div>
</div>
